<include file='user/header' />
<include file='./nav' />

<div class="collapse user">
<include file='user/left' />

<div class="small-10 large-11 columns">
<div class="main-box billing">

  <div class="panel row">

    <h3>帮助文档</h3>

    <hr/>

	<p>说明一下：网站处于测试状态，还有很多功能不完善（比如文库，我们在慢慢将海量资料导入文库中）。希望大家多多提出改进意见（可以在微信反馈哦），让我们更好地服务所有同学。</p>

    <p><a href="http://mp.weixin.qq.com/s?__biz=MzA4NjA2ODM2NQ==&mid=204314107&idx=1&sn=814e868c4eef98c52fa9a88d893b14ce#rd" target="_blank">如何获得金币</a></p>

    <p><a href="http://mp.weixin.qq.com/s?__biz=MzA4NjA2ODM2NQ==&mid=204303399&idx=1&sn=c68fb708c380b5bf6c2c4098a4f35910#rd" target="_blank">如何开始打印</a></p>

    <p><a href="http://mp.weixin.qq.com/s?__biz=MzA4NjA2ODM2NQ==&mid=203925035&idx=1&sn=4f1f7cd692f9731dbecc896634419fd0#rd" target="_blank">如何优雅地将word转换为PDF</a></p>

    <p><a href="http://mp.weixin.qq.com/s?__biz=MzA4NjA2ODM2NQ==&mid=203563165&idx=1&sn=b5607388413dd5ce620be9d8749d47dc#rd" target="_blank">淘印印是如何做到免费打印的</a></p>

  </div>
 

</div>
</div>

</div>

<div class="clearfix"></div>
<include file='./footer' />
  </body>
</html>