<div class="small-2 large-1 columns" style="padding-left:0;">
  <div class="icon-bar vertical five-up main-side" id="float_banner">
    <a class="item" href="<php>echo U('/home/info');</php>">
      <img src="{{$static}}img/svg/fi-home.svg" >
      <label>个人中心</label>
    </a>
    <a class="item" href="<php>echo U('/home/info/order');</php>">
      <img src="{{$static}}img/svg/fi-bookmark.svg" >
      <label>历史订单</label>
    </a>
    <a class="item" href="<php>echo U('/home/info/billing');</php>">
      <img src="{{$static}}img/svg/fi-like.svg" >
      <label>我的积分</label>
    </a>
    <a class="item" href="<php>echo U('/home/wen/mywen');</php>">
      <img src="{{$static}}img/svg/fi-mail.svg">
      <label>个人文库</label>
    </a>
    <a class="item" href="<php>echo U('/home/help');</php>">
      <img src="{{$static}}img/svg/fi-info.svg" >
      <label>帮助大厅</label>
    </a>
  </div>
</div>