<include file='sign/header' />
<include file='./nav' />

  <section class="register-box" data-stars-type="form">
    <h4>用户注册</h4>
    <form method="post" name="regform">
      <div data-alert class="row alert alert-box hide" id="error">
        
      </div>
      <div class="row collapse">
        <div class="small-3 large-3 columns">
          <span class="prefix">手机号</span>
        </div>
        <div class="small-9 large-9 columns">
          <input type="text" name="uname" placeholder="输入你的手机号" >
        </div>
      </div>
      <div class="row collapse">
      <div class="small-3 large-3 columns">
        <span class="prefix">验证码</span>
      </div>
      <div class="small-5 large-5 columns">
        <input type="text" name="captcha" placeholder="输入验证码">
      </div>
      <div class="small-4 large-4 columns">
        <img onclick="this.src='<php>echo U('/home/sign/captcha');</php>?' + Math.random();" src="<php>echo U('/home/sign/captcha');</php>" style="height:37px;cursor:pointer">
      </div>
    </div>
      <div class="row collapse">
        <div class="small-3 large-3 columns">
          <span class="prefix">手机验证</span>
        </div>
        <div class="small-4 large-5 columns">
          <input type="text" name="mbchk" placeholder="接收到的验证码">
        </div>
        <div class="small-5 large-4 columns">
          <a href="#" class="button tiny secondary regbtn sendcode" id="sendmbcode">发送短信</a>
        </div>
      </div>
      <div class="row collapse">
        <div class="small-3 large-3 columns">
          <span class="prefix">密码</span>
        </div>
        <div class="small-9 large-9 columns">
          <input type="password" name="upass" placeholder="输入至少6位密码">
        </div>
      </div>
      <div class="row collapse">
        <div class="small-3 large-3 columns">
          <span class="prefix">重复密码</span>
        </div>
        <div class="small-9 large-9 columns">
          <input type="password" name="repass" placeholder="确认密码">
        </div>
      </div>
      <div class="row collapse">
        <div class="small-3 large-3 columns">
          <span class="prefix">学校</span>
        </div>
        <div class="small-9 large-9 columns">
          <input name="school" style="border-left:1px #ccc solid;" class="button tiny secondary regbtn sendcode" onclick="pop()" id="school-name" onblur="if(this.value==''){this.value='请选择大学'}" onfocus="if(this.value=='请选择大学'){this.value=''}" value="陕西师范大学" />
        </div>
      </div>
      <div class="row collapse">
        <div class="small-9 large-9 columns"></div>
        <div class="small-3 large-3 columns">
          <button type="submit" class="button tiny regbtn">提交</button>
        </div>
      </div>
    </form>
  </section>

<div id="choose-box-wrapper">
  <div id="choose-box">
    <div id="choose-box-title">
      <span>选择学校</span>
    </div>
    <div id="choose-a-province"></div>
    <div id="choose-a-school"></div>
    <div id="choose-box-bottom">
      <input type="botton" onclick="hide()" value="关闭" />
    </div>
  </div>
</div>

<include file='./footer' />
<script type="text/javascript" src="{{$static}}js/school.js"></script>
<script type="text/javascript" src="{{$static}}js/validate.js"></script>
<script>
  $(document).ready(function(){
    var valid = new FormValidator('regform', [{
      name: 'upass',
      display: '密码',
      rules: 'required|min_length[6]'
    },{
      name: 'repass',
      display: '重复密码',
      rules: 'required|matches[upass]'
    },{
      name: 'uname',
      display: '手机号',
      rules: 'required|callback_phonenum'
    },{
      name: 'mbchk',
      display: '手机验证码',
      rules: 'required|numeric|exact_length[5]'
    }], function(errors, event) {
      if (errors.length > 0) {
          alert(errors[0].message);
      }
    });
    valid.registerCallback('phonenum', function(value) {
        if (/^1\d{10}$/.test(value)) {
            return true;
        }
        return false;
    }).setMessage('phonenum', '手机号码格式错误');
    $("#sendmbcode").click(function(){
      $("#error").html('').addClass("hide");
      var uname = $("[name='uname']").val();
      var captcha = $("[name='captcha']").val();
      if (!uname || !(/^1\d{10}$/.test(uname))) {
        alert('手机号格式错误');
        return;
      };
      if (!captcha) {
        alert('图片验证码没有填写');
        return;
      };
      $("#sendmbcode").addClass('disabled');
      $.ajax({
        'url': '<php>echo U('/home/sign/sendcode');</php>',
        'dataType': 'json',
        'type': 'post',
        'data': {
          'uname': uname,
          'captcha': captcha
        },
        'success': function(data){
          if (data.suc == 1) {
            $("#sendmbcode").html('短信已发送');
          }else{
            $("#error").html(data.info).removeClass("hide");
          }
        }
      })
    })
  })
</script>
  </body>
</html>
